<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="bg-dark">
  <div class="container py-4 py-lg-5">
    <div class="row justify-content-center">
      <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item">
        <h3 class="fs-6 fw-bold">Services</h3>
        <ul class="list-unstyled">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Recipes</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
      
      <div class="col-lg-3 text-center text-lg-start d-flex flex-column align-items-center order-first align-items-lg-start order-lg-last">
        <div class="fw-bold d-flex align-items-center mb-2"><span class="bs-icon-sm bs-icon-circle bs-icon-primary d-flex justify-content-center align-items-center bs-icon me-2"><svg viewBox="140.176 68.291 55.91 55.511" xmlns="http://www.w3.org/2000/svg">
          <ellipse style="stroke: rgb(0, 0, 0); fill: rgb(232, 132, 25);" cx="168.53" cy="96.246" rx="26.358" ry="26.358"/>
          <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 61px; white-space: pre;" x="148.163" y="122.205">Y</text>
        </svg></span><span>Yumoid</span></div>
        <p class="text-muted copyright">A home for all your recipes</p>
      </div>
    </div>
    <hr>
    <div class="text-muted d-flex justify-content-between align-items-center pt-3">
      <p class="mb-0">Copyright © 2022 Yumoid</p>
    </div>
  </div>
</footer>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/template.js}"></script>
</body>
</html>