<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="myheader">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link"
                           th:classappend="${#httpServletRequest.getRequestURI() == '/registered/index' ? 'active':''}"
                           th:aria-current="${#httpServletRequest.getRequestURI() == '/registered/index' ? 'page':''}"
                           th:href="@{/registered/index}" th:text="'Home'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           th:classappend="${#httpServletRequest.getRequestURI() == '/registered/recipe/create' ? 'active':''}"
                           th:aria-current="${#httpServletRequest.getRequestURI() == '/registered/recipe/create' ? 'page':''}"
                           th:href="@{/registered/recipe/create}" th:text="'Create Recipe'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           th:classappend="${#httpServletRequest.getRequestURI() == '/registered/recipe/view' ? 'active':''}"
                           th:aria-current="${#httpServletRequest.getRequestURI() == '/registered/recipe/view' ? 'page':''}"
                           th:href="@{/registered/recipe/view}" th:text="'View Recipes'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           th:classappend="${#httpServletRequest.getRequestURI() == '/registered/recipe/search' ? 'active':''}"
                           th:aria-current="${#httpServletRequest.getRequestURI() == '/registered/recipe/search' ? 'page':''}"
                           th:href="@{/registered/recipe/search}" th:text="'Search Recipes'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           th:classappend="${#httpServletRequest.getRequestURI() == '/registered/user/view-profile' ? 'active':''}"
                           th:aria-current="${#httpServletRequest.getRequestURI() == '/registered/user/view-profile' ? 'page':''}"
                           th:href="@{/registered/user/view-profile}" th:text="'View Profile'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           th:classappend="${#httpServletRequest.getRequestURI() == '/registered/meal/view' ? 'active':''}"
                           th:aria-current="${#httpServletRequest.getRequestURI() == '/registered/meal/view' ? 'page':''}"
                           th:href="@{/registered/meal/view}" th:text="'Plan Meal'"></a>
                    </li>
                    <li class="nav-item">
                        <form th:action="@{/doLogout}" method="post">
                            <button class="" type="submit" th:text="'Logout'"></button>
                        </form>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>