<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Yumoid - Register User</title>
</head>

<body>
<div>
    <section class="py-5">
        <div class="container py-5">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="fw-bold">Welcome to Yumoid</h2>
                    <p class="fw-bold text-success mb-2">Sign up</p>
                    <div th:if="${message != null}">
                        <div class="alert alert-danger" th:text="${message}"></div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body text-center d-flex flex-column align-items-center shadow">
                            <div class="bs-icon-xl bs-icon-circle shadow bs-icon my-4"
                                 style="background-color: #e88419; color: white;"> <svg
                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                    viewBox="0 0 16 16" class="bi bi-person">
                                <path
                                        d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z">
                                </path>
                            </svg></div>
                            <form th:action="@{/save}" th:object="${user}" method="post">
                                <div class="row mb-3">
                                    <div class="col">
<!--                                        <label class="" th:text="'First Name:'"></label>-->
                                        <input placeholder="First Name" type="text" class="form-control" th:field="*{firstName}"
                                               th:required="true"
                                               th:oninvalid="this.setCustomValidity('Please enter firstname')"
                                               th:oninput="this.setCustomValidity('')" />
                                    </div>
                                </div>
                                <div class="row mb-3">

                                    <div class="col">
<!--                                        <label class="" th:text="'Last Name:'"></label>-->
                                        <input placeholder="Last Name" type="text" class="form-control" th:field="*{lastName}"
                                               th:required="true"
                                               th:oninvalid="this.setCustomValidity('Please enter lastname')"
                                               th:oninput="this.setCustomValidity('')" />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
<!--                                        <label class="" th:text="'Address:'"></label>-->
                                        <input placeholder="Address" type="text" class="form-control" th:field="*{address}" />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
<!--                                        <label class="" th:text="'Postal Code:'"></label>-->
                                        <input placeholder="Postal Code" type="text" class="form-control" th:field="*{postalCode}" />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
<!--                                        <label class="" th:text="'Username:'"></label>-->
                                        <input placeholder="Username" type="text" class="form-control" th:field="*{username}"
                                               th:required="true" autocomplete="false"
                                               th:oninvalid="this.setCustomValidity('Please enter username')"
                                               th:oninput="this.setCustomValidity('')" />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
<!--                                        <label class="" th:text="'Password:'"></label>-->
                                        <input placeholder="Password" type="password" id="password" class="form-control"
                                               th:field="*{password}" th:required="true" autocomplete="false"
                                               th:oninvalid="this.setCustomValidity('Please enter password')"
                                               th:oninput="this.setCustomValidity('')" />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class=""></label>
                                    <label class=""></label>
                                    <div class="">
                                        <button class="btn btn-primary shadow d-block w-100"
                                                style="background-color:#e88419 ;" type="submit"
                                                th:text="'Register'"></button>
                                        <p class="text-muted">Have an account?&nbsp;<a th:href="@{/login}">Sign
                                            in</a></p>
                                        <p class="text-muted">&copy; Modulix - 2022</p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div th:replace="fragments/footer"></div>`
</div>
</body>

</html>