<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <div th:replace="header :: myheader"></div>
    <title>Save Event</title>
</head>

<body>

<div class="container">

    <h2>My Event</h2>
    <hr>

    <p class="h4 mb-4">Save Event</p>

    <form action="#" th:action="@{/registered/event/update/save}"
          th:object="${event}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />

        <input type="text" th:field="*{eventName}" th:required="true"
               th:oninvalid="this.setCustomValidity('Please enter event name')"
               th:oninput="this.setCustomValidity('')"
               class="form-control mb-4 col-4" placeholder="Event Name">

        <textarea th:field="*{eventDesc}" th:required="true"
               th:oninvalid="this.setCustomValidity('Please enter event description')"
               th:oninput="this.setCustomValidity('')"
                  class="form-control mb-4 col-4" placeholder="Event Details"></textarea>

        <input type="date" th:field="*{eventDate}" th:required="true"
               th:oninvalid="this.setCustomValidity('Please select event date')"
               th:oninput="this.setCustomValidity('')"
               class="form-control mb-4 col-4">

        <div class="mb-4 col-4">
            <select class="form-select" th:id="recipeId" th:name="recipeId" th:required="true"
                    th:oninvalid="this.setCustomValidity('Please select a recipe')"
                    th:oninput="this.setCustomValidity('')">
                <option th:each="recipe :${recipes}"
                        th:value="${recipe.id}"
                        th:text="${recipe.name}"
                        th:selected="${recipe.id == event.eventRecipe.id}"></option>
            </select>
        </div>


        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>

    <hr>
    <a th:href="@{/registered/event/list}">Back to Event List</a>

</div>
</body>

</html>










